<settings>
 <category label="LiveTV">
    <setting type="action" label="Add LiveTV As Source" option="close" action="Container.Update(plugin://plugin.video.LiveTV/?mode=10)" />
    <setting type="sep" />
    <setting type="action" label="Update LiveTV" action="RunPlugin(plugin://plugin.video.LiveTV/?mode=9)" />
    <setting type="sep" />
    <setting id="LiveTV" type="bool" label="Enable Auto Update" default="false"/>
  </category>
  <category label="Other Sources">
    <setting id="save_location" type="folder"  label="Step 1    Your Save Location." default=""/>
    <setting type="sep" />
    <setting id="choose_source" type="enum" values="Choose File|Enter URL" label="Step 2    Please Select ---------}" default=""/>
    <setting id="new_file_source" type="file" source="files" label="Step 3    Choose xml File" default="" visible="eq(-1,0)"/>
    <setting id="new_url_source" type="text" label="Step 3    Add URL" default="" visible="eq(-2,1)"/>
    <setting type="sep" />
    <setting type="action" label="Step 4    Now Name That Source" option="close" action="RunPlugin(plugin://plugin.video.LiveTV/?mode=7)" />
    <setting type="sep" />
  </category>
   <category label="30300">
    <setting id="proxy_use" label="30310" type="bool" default="false" />
    <setting id="proxy_type" label="30315" type="enum" values="HTTP|HTTP (Tunneled)|SOCKS4|SOCKS5" enable="eq(-1,true)" default="0" />
    <setting id="proxy_server" label="30320" type="text" default="" enable="eq(-2,true)" />
    <setting id="proxy_port" label="30330" type="number" default="" enable="eq(-3,true)" />
    <setting id="proxy_user" label="30340" type="text" enable="eq(-4,true)"  />
    <setting id="proxy_pass" label="30350" type="text" option="hidden" enable="!eq(-4,2) + eq(-5,true)" />
  </category>
  <category label="General">
    <setting id="use_thumb" type="bool" label="Use Thumbnails as Fanart" default="false" />
    <setting id="mirror_link" type="bool" label="Use lower quality mirror if available" default="false" />
    <setting id="mirror_link_low" type="bool" label="Use lowest quality mirror if available" default="false" />
  </category>
  
</settings>