<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="31000">
        <setting id="VERSION"    type="text"      label="Version"           default="0.0.0" visible="false"/>
        <setting id="OTTSKIN"    type="text"      label="OTTSKINVersion"    default="2.1"   visible="false"/>
        <setting id="EPGSKIN"    type="text"      label="EPGSKINVersion"    default="3.0"   visible="false"/>
        <setting id="LOGOCOLOUR" type="text"      label="LogoColourVersion" default="3.0"   visible="false"/>
        <setting id="LOGOWHITE"  type="text"      label="LogoWhiteVersion"  default="1.3"   visible="false"/>
        <setting id="OTTUPDATE"  type="text"      label="OTTPythonVersion"  default="1.7"   visible="false"/>
        <setting id="EPGUPDATE"  type="text"      label="EPGPythonVersion"  default="2.0"   visible="false"/>
        <setting id="ADDONS"     type="text"      label="Addons"            default=""      visible="false"/>
        <setting id="MOVIE"      type="text"      label="Movie"             default=""      visible="false"/>
        <setting id="TV"         type="text"      label="TV"                default=""      visible="false"/>

        <setting id="DSFOTTSKIN"    type="text"   label="dsfOTTSKIN"    default="0.0"   visible="false"/>
        <setting id="DSFEPGSKIN"    type="text"   label="dsfEPGSKIN"    default="0.2"   visible="false"/>
        <setting id="DSFLOGOS"      type="text"   label="dsfLogos"      default="0.1"   visible="false"/>
        <setting id="DSFOTTUPDATE"  type="text"   label="dsfOTTPython"  default="0.0"   visible="false"/>
        <setting id="DSFEPGUPDATE"  type="text"   label="dsfEPGPython"  default="0.1"   visible="false"/>
        <setting id="DSFUPDATE"     type="text"   label="dsfPython"     default="0.2"   visible="false"/>
        <setting id="DSFKODISKIN"   type="text"   label="dsfKodiSkin"   default="0.0"   visible="false"/>

        <setting id="LEIAFIX"    type="bool"      label="LEIAFIX"  default="false" visible="false" />
        <setting id="V4UPGRADE"  type="bool"      label="FIRSTRUN" default="false" visible="false" />
        <setting id="FIRSTRUN"   type="bool"      label="FIRSTRUN" default="false" visible="false" />
        <setting id="FFMPEG"     type="bool"      label="FFMPEG"   default="false" visible="false" />
        <setting id="EPGBETA"    type="bool"      label="EPGBETA"  default="false" visible="false" />
        <setting id="OTTBETA"    type="bool"      label="OTTBETA"  default="false" visible="false" />
        <setting id="ottv.url"   type="labelenum" label="OTT URL"  default="kodi"  values="kodi|other"  visible="false" />

        <setting id="dummy0"     type="action" label="Click to - [COLOR orange][B]Open Main Settings[/B][/COLOR]" action="XBMC.RunScript(special://home/addons/script.on-tapp.tv/openSettings.py)" option="close" />
        <setting id="SKIN"       type="select" label="31004" source="../../userdata/addon_data/script.on-tapp.tv/skins/" mask="/" default="Default Home Skin"/>    

        <setting id="autoStart"  type="bool"   label="Start Automatically (requires reboot)"     default="false" visible="true"/>
        <setting id="UseKodiLib" type="bool"   label="Use Kodi Libraries (Movies and TV Shows)"  default="false" visible="true"/>
        
        <setting id="ADDMORE"   type="enum"   label="31006" lvalues="31007|31008|31009" default="2"/>

        <setting id="AUTOSTREAM" type="bool"   label="Automatically Stream Last Channel Watched" default="false" visible="true"/>
        <!-- <setting                 type="lsep"   label=""      visible="true" /> -->
        <setting id="KIOSKMODE"  type="bool"   label="Kiosk Mode" default="false" visible="true"/>
        <setting id="PLAYBACK"   type="enum"   label="31001" lvalues="31002|31003" default="1" visible="false"/>
    </category>

    <category label="Home Page">
        <setting id="NOHOME"     type="bool"   label="Turn Home Page Off" default="false" visible="true"/>
        <setting                 type="lsep"   label="Customise Home Page Buttons"      visible="true" />
        <setting id="MOVIETAB"   type="bool"   label="Show Movies"     default="true" visible="true"/>
        <setting id="TVTAB"      type="bool"   label="Show TV Shows"   default="true" visible="true"/>
        <setting id="CATCHTAB"   type="bool"   label="Show TV Catchup" default="true" visible="true"/>
        <setting id="SEARCHTAB"  type="bool"   label="Show Search"     default="true" visible="true"/>
        <setting id="FAVESTAB"   type="bool"   label="Show Favourites" default="true" visible="true"/>
        <setting id="TOOLSTAB"   type="bool"   label="Show Tools"      default="true" visible="true"/>
    </category>

    <category label="More Features">
        <setting id="HOTKEY"            label="Click to - [COLOR orange][B]Set Mini-Guide Hot Key[/B][/COLOR]" type="action" action="XBMC.RunScript(special://home/addons/script.tvguidedixie/keyProgrammer.py,zOTT_hotkey.xml,XBMC.RunScript(special://home/addons/script.tvguidedixie/hotkey.py),hot_key,the Mini-Guide)"/>
        <setting id="hot_key"           type="text" label="Programmed HotKey"    default="" visible="false"/>
        <setting id="dummy1"             label="Click to - [COLOR orange][B]Reset Mini-Guide Hot Key[/B][/COLOR]"   type="action" action="XBMC.RunScript(special://home/addons/script.tvguidedixie/resetHotkey.py,zOTT_hotkey.xml)" />

        <setting label=""               type="lsep" visible="true" />

        <setting id="FSHOTKEY"          label="Click to - [COLOR orange][B]Set Full-Screen Hot Key[/B][/COLOR] (picture-in-picture)" type="action" action="XBMC.RunScript(special://home/addons/script.tvguidedixie/keyProgrammer.py,zOTT_toggle.xml,fullscreen,,Toggle Full Screen)"/>
        <setting id="dummy2"             label="Click to - [COLOR orange][B]Reset Full-Screen Hot Key[/B][/COLOR]"                    type="action" action="XBMC.RunScript(special://home/addons/script.tvguidedixie/resetHotkey.py,zOTT_toggle.xml)" />

        <setting label=""           type="lsep" visible="true" />

        <setting id="SINGLE_CAT"    label="[B]Single Active Category Mode[/B]"                                 type="bool"   default="true"  visible="true"/>
        <setting id="rename.fave"   label="Click to - [COLOR orange][B]Rename Favourites Category[/B][/COLOR]" type="action" action="XBMC.RunPlugin(plugin://script.tvguidedixie.tools/?mode=1940)" visible="false" option="close"/>
        <setting id="FAVOURITE"     label="Current Favourites category name:"                                  type="text"   default=" Favourites"  visible="false" />
    </category>

    <category label="Maintenance">
        <setting id="DEBUG" label="[B]Enable OTT Debug Mode[/B]" type="bool" default="false"/>
        <setting id="dummy3" label="Click to - [COLOR orange][B]Upload log[/B][/COLOR]" type="action" action="XBMC.RunScript(special://home/addons/script.tvguidedixie/uploadLog.py)" option="close" />
        <setting id="skip_oldlog" type="bool" label="Always skip Kodi.old.log (log from previous run)" default="true" visible="false"/>
        <setting id="dummy4" label="Click to - [COLOR orange][B]Check On-Tapp.TV Version[/B][/COLOR]" type="action" action="XBMC.RunScript(special://home/addons/script.tvguidedixie/getVersion.py)" />
        <setting label=""   type="lsep" visible="true" />
        <setting id="dummy5" label="Click to - [COLOR orange][B]Reset Channel Timeshift[/B][/COLOR]"      type="action" action="XBMC.RunScript(special://home/addons/script.tvguidedixie/resetTimeshift.py)" />
        <setting id="dummy6" label="Click to - [COLOR orange][B]Fix PiP Black Screen Issue[/B][/COLOR]"   type="action" action="XBMC.RunScript(special://home/addons/script.tvguidedixie/fixPip.py)" />
        <setting id="dummy7" label="Click to - [COLOR orange][B]Reset Listings[/B][/COLOR]" type="action" action="XBMC.RunScript(special://home/addons/script.tvguidedixie/deleteDB.py)" />
        <setting id="dummy8" label="Click to - [COLOR orange][B]Reset Channels[/B][/COLOR]" type="action" action="XBMC.RunScript(special://home/addons/script.tvguidedixie/resetChannels.py)" />
        <setting id="dummy9" label="Click to - [COLOR orange][B]Reset All[/B][/COLOR]" type="action" action="XBMC.RunScript(special://home/addons/script.tvguidedixie/resetAddon.py)" />
    </category>
    
</settings>