<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="General">    
        <setting id="FIRSTRUN"   type="bool"      label="FIRSTRUN"                               default="false"                                                   visible="false"/>
        <setting id="VERSION"    type="text"      label=""                                       default="0.0.0"                                                   visible="false"/>
        <setting id="SKIN"       type="select"    label="Skin"   source="../../userdata/addon_data/script.tvguidedixie.tools/skins/" mask="/"      default="Default" visible="true"/>
        <setting id="SORT"       type="labelenum" label="Sort mode"                              default="On-Tapp.TV Order" values="Alphabetical|On-Tapp.TV Order" visible="true"/>
        <setting id="SHOWHIDDEN" type="bool"      label="Show hidden channels"                   default="true"                                                    visible="true"/>
        <setting id="SHOWSTREAM" type="bool"      label="Show if stream is set"                  default="true"                                                    visible="true"/>
        <setting id="KODISOURCE" type="bool"      label="Search Kodi source locations for logos" default="false"                                                   visible="true"/>
        <setting id="DEBUG"      type="bool"      label="Turn on debugging log"                  default="false"                                                   visible="true"/>
    </category>
</settings> 